---
layout: default
title: Home
---

<section class="home">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">

        {% for post in site.posts %}
          <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <p><time>{{ post.date | date: site.date_formats.dmy }}</time></p>
        {% endfor %}

      </div>
    </div>

  </div>
</section>
