<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="{{ '/src/js/main.js' | prepend: site.baseurl }}?{{ site.time | date: site.date_formats.timestamp }}"></script>
